<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation = "http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework/org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		<!-- define bean -->
	    <bean id = "address" class = "com.spring.Address">
			<constructor-arg value = "Pune"></constructor-arg>
			<constructor-arg value = "MH"></constructor-arg>
		</bean>
		<bean id = "student" class = "com.spring.Student">
			<!-- <property name = "roll_no" value = "3139"></property>
			<property name = "name" value = "Jay"></property> -->
			<constructor-arg value = "3139" type = "int"></constructor-arg>
			<constructor-arg value = "Jay" type = "java.lang.String"></constructor-arg>
			<constructor-arg ref = "address"></constructor-arg>
			<!-- types need to be included as without them, mapping will be taken into consideration, due
			to which in constructor in student.java you wont be able to interchange parameters -->
		<!-- </bean>-->
		<!-- in case of annotations use below line -->
		<!--<context:component-scan base-package = "com.spring"/> -->
		</bean>
</beans>